.fdb-block {
background-color: transparent;

}
.nav-link {
font-size: 1.5rem;
}
header .navbar-nav a.nav-link {
color: #ffffff;
}

header .navbar-nav a.nav-link:hover {
color: #ffffff;
}
header .navbar-nav .active a.nav-link {
color: #ffffff;
}
.guitar-list {
color: black;
}
.invie-titles {
color: white;
}
.btn {
background-color:#FF5B4F ;
border: solid 2px #FF5B4F;
}
.row.align-items-center {
border:3px solid green;
border-radius: 25px;
}
.btn:hover {
background-color:#FF5B4F ;
border: solid 2px #FF5B4F;
}
.bg-black {
background-color: black;
color:white;
}
img.img-fluid{
	-webkit-filter: grayscale(0%);
	        filter: grayscale(0%);
	-webkit-transition-duration: 1s;
	        transition-duration: 1s;
}
img.img-fluid:hover{
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
	  }


h1 {
	padding-top: 15vh;
}


* {
	font-size: responsive;
}

.guitarra-1 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.guitarra-2 {
	padding-bottom: 20px;
}

.invie-header {
	height: 65vh;
}








@media (max-width: 575px) {

	img.img-fluid:hover{
	-webkit-filter: grayscale(0%);
	        filter: grayscale(0%);
	  }

.container.pt-3 {
display: none;
}
.img-b {
-webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
        order: -1;
}
}
@media (min-width: 576px) and (max-width: 767px) {  }
@media (min-width: 768px) and (max-width: 991px) {  }
@media (min-width: 992px) and (max-width: 1199px) { }
@media (min-width: 1200px) {  }